<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>comma</key>
    <dict>
      <key>four</key>
      <integer>-50</integer>
    </dict>
    <key>eight</key>
    <dict>
      <key>seven</key>
      <integer>-40</integer>
      <key>zero</key>
      <integer>0</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>seven</key>
      <integer>-80</integer>
      <key>zero</key>
      <integer>-80</integer>
    </dict>
    <key>fraction</key>
    <dict>
      <key>public.kern2.eight.dnom</key>
      <integer>-160</integer>
      <key>public.kern2.five.dnom</key>
      <integer>-160</integer>
      <key>public.kern2.four.dnom</key>
      <integer>-290</integer>
      <key>public.kern2.nine.dnom</key>
      <integer>-160</integer>
      <key>public.kern2.one.dnom</key>
      <integer>-150</integer>
      <key>public.kern2.seven.dnom</key>
      <integer>-160</integer>
      <key>public.kern2.six.dnom</key>
      <integer>-250</integer>
      <key>public.kern2.three.dnom</key>
      <integer>-200</integer>
      <key>public.kern2.two.dnom</key>
      <integer>-170</integer>
      <key>public.kern2.zero.dnom</key>
      <integer>-200</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>seven</key>
      <integer>-50</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>four</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>-70</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>seven</key>
      <integer>-70</integer>
      <key>zero</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-120</integer>
      <key>public.kern2.T</key>
      <integer>-180</integer>
      <key>public.kern2.V</key>
      <integer>-170</integer>
      <key>public.kern2.Y</key>
      <integer>-250</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-220</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.period</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.I</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-120</integer>
      <key>public.kern2.T</key>
      <integer>-190</integer>
      <key>public.kern2.V</key>
      <integer>-210</integer>
      <key>public.kern2.Y</key>
      <integer>-270</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-120</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.X</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-110</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-200</integer>
      <key>public.kern2.S</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-60</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-150</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-180</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.period</key>
      <integer>-140</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-170</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-80</integer>
      <key>public.kern2.period</key>
      <integer>-110</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-300</integer>
      <key>public.kern2.O</key>
      <integer>-110</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.period</key>
      <integer>-200</integer>
    </dict>
    <key>public.kern1.eight.numr</key>
    <dict>
      <key>fraction</key>
      <integer>-160</integer>
    </dict>
    <key>public.kern1.five.numr</key>
    <dict>
      <key>fraction</key>
      <integer>-180</integer>
    </dict>
    <key>public.kern1.four.numr</key>
    <dict>
      <key>fraction</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.nine.numr</key>
    <dict>
      <key>fraction</key>
      <integer>-230</integer>
    </dict>
    <key>public.kern1.one.numr</key>
    <dict>
      <key>fraction</key>
      <integer>-110</integer>
    </dict>
    <key>public.kern1.seven.numr</key>
    <dict>
      <key>fraction</key>
      <integer>-260</integer>
    </dict>
    <key>public.kern1.six.numr</key>
    <dict>
      <key>fraction</key>
      <integer>-180</integer>
    </dict>
    <key>public.kern1.three.numr</key>
    <dict>
      <key>fraction</key>
      <integer>-160</integer>
    </dict>
    <key>public.kern1.two.numr</key>
    <dict>
      <key>fraction</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.zero.numr</key>
    <dict>
      <key>fraction</key>
      <integer>-200</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>eight</key>
      <integer>-40</integer>
      <key>four</key>
      <integer>-120</integer>
      <key>nine</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-120</integer>
      <key>seven</key>
      <integer>20</integer>
      <key>six</key>
      <integer>-90</integer>
      <key>three</key>
      <integer>-30</integer>
      <key>zero</key>
      <integer>-50</integer>
    </dict>
    <key>six</key>
    <dict>
      <key>seven</key>
      <integer>-30</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>four</key>
      <integer>-40</integer>
    </dict>
    <key>zero</key>
    <dict>
      <key>eight</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>seven</key>
      <integer>-80</integer>
    </dict>
  </dict>
</plist>
