@font-face {
	font-family: 'nemoy-light';
	url('Nemoy-Light.woff') format('woff'),
	url('Nemoy-Light.woff2') format('woff2'),
	url('Nemoy-Light.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: 'nemoy-regular';
	url('Nemoy-Regular.woff') format('woff'),
	url('Nemoy-Regular.woff2') format('woff2'),
	url('Nemoy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'nemoy-medium';
	url('Nemoy-Medium.woff') format('woff'),
	url('Nemoy-Medium.woff2') format('woff2'),
	url('Nemoy-Medium.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: 'nemoy-bold';
	url('Nemoy-Bold.woff') format('woff'),
	url('Nemoy-Bold.woff2') format('woff2'),
	url('Nemoy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'nemoy-heavy';
	url('Nemoy-Heavy.woff') format('woff'),
	url('Nemoy-Heavy.woff2') format('woff2'),
	url('Nemoy-Heavy.ttf') format('truetype');
	font-style: normal;
}
